In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\acer\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: idna in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\acer\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\acer\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\acer\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\acer\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [59]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from bs4 import BeautifulSoup

In [113]:
driver= webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [114]:
driver.get("https://www.naukri.com/")

In [115]:
search_field_designation=driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [116]:
job_titles = []
job_location = []
company_name  = []
experience_required = []

In [117]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="4f126794-ed4c-4ca5-aacb-61e956cda74e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="fa9bb8e4-23af-498c-9ff5-13b577325ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="45c3f7e9-293f-41c3-92b3-dcb8b50aad7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="ecd09c7a-7ac9-430f-b856-8f9ca33d3b64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="631ecb56-6ea2-4f6b-ab8b-5c89ea6ccd0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="4dbdf6e2-4698-4546-962a-07d23e8498b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="97e8c04e-d084-417a-a624-22d81b0eddd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="99187bc2-6b79-4de3-a661-eed8bedb0908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="a9ec6f97-3885-4e86-b9de-99600cb28ff8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="dafcc6c7-ce10-46d2-8e8b-cd0eb4d52208")>]

In [118]:
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Business and Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst',
 'Senior Data Analyst, Data & Analytics',
 'Lead Data Analyst - Risk Analytics',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Associate Data Analyst']

In [119]:
companies_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="4f126794-ed4c-4ca5-aacb-61e956cda74e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="fa9bb8e4-23af-498c-9ff5-13b577325ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="45c3f7e9-293f-41c3-92b3-dcb8b50aad7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="ecd09c7a-7ac9-430f-b856-8f9ca33d3b64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="631ecb56-6ea2-4f6b-ab8b-5c89ea6ccd0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="4dbdf6e2-4698-4546-962a-07d23e8498b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="97e8c04e-d084-417a-a624-22d81b0eddd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="99187bc2-6b79-4de3-a661-eed8bedb0908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="a9ec6f97-3885-4e86-b9de-99600cb28ff8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="dafcc6c7-ce10-46d2-8e8b-cd0eb4d52208")>]

In [120]:
for i in companies_tags:
    companies=i.text
    company_name.append(companies)
company_name[0:10]

['Business and Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst',
 'Senior Data Analyst, Data & Analytics',
 'Lead Data Analyst - Risk Analytics',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Associate Data Analyst']

In [121]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="f2ead38f-682f-4bf9-9fbf-3dacfb0eeaa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="88060401-9c40-4a96-ba3d-19cd83641696")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="9edac1bf-4b43-4f55-97e1-bc9dfc239c3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="c24be63b-0be3-499c-9f58-d446be238664")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="c86db997-d2a1-43bb-9306-54ddabf27821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="1aa92f25-c91a-4103-9c06-b11072cd6e0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="42ba6e8d-1a12-48da-aec2-a5023e070ea4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="41724067-28c3-46e8-8bb4-f78241930c46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="aef76a0f-3a00-4046-a972-3d51d99ac140")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="625032a8-9521-4955-9c03-a4cd5f05bba2")>]

In [122]:
for i in experience_tags:
    experiences=i.text
    experience_required.append(experiences)
experience_required[0:10]

['0-5 Yrs',
 '2-7 Yrs',
 '0-3 Yrs',
 '10-12 Yrs',
 '3-5 Yrs',
 '5-11 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '0-10 Yrs',
 '2-7 Yrs']

In [123]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="edae66f0-189b-4295-b104-1527edc7e43f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="cc04cbb6-0947-4710-b268-cb198ac56b4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="88c46799-f2cb-4124-9c46-8ec1180d9a27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="5d1a1428-e9e6-4e62-a930-c795bae3d33e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="9e6131ca-d2be-45d7-9cbb-bf4c1ad0c1f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="c8def7d9-763a-476e-98e8-39a37ef1e3cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="fe817085-cf54-419f-ab39-719c0f29f1cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="f8781439-a8e1-43df-bce7-c80e3838aa5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="433e5612-6ca1-41d5-94ff-06ec363a8c9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a200506781835bb390966bc6b2765bec", element="92a9fdaa-f630-48ce-9da3-9b68d49971b2")>]

In [124]:
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [125]:
print(len(job_titles),len(company_name),len(experience_required),len(job_location))

20 20 20 20

In [126]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_name
jobs['experience']=experience_required
jobs['location']=job_location

In [128]:
jobs.head(10)

,title,company,experience,location
0,Business and Data Analyst,Business and Data Analyst,0-5 Yrs,Bangalore/Bengaluru
1,SAS Analyst / data Analyst / Business analyst ...,SAS Analyst / data Analyst / Business analyst ...,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data Analyst I,Data Analyst I,0-3 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,Senior Data Analyst,10-12 Yrs,Bangalore/Bengaluru
4,"Senior Data Analyst, Data & Analytics","Senior Data Analyst, Data & Analytics",3-5 Yrs,Bangalore/Bengaluru
5,Lead Data Analyst - Risk Analytics,Lead Data Analyst - Risk Analytics,5-11 Yrs,Bangalore/Bengaluru
6,Hiring - Zonal Data Analyst (Off Role) - Opera...,Hiring - Zonal Data Analyst (Off Role) - Opera...,2-7 Yrs,"New Delhi, Bangalore/Bengaluru"
7,Senior Data Analyst,Senior Data Analyst,3-6 Yrs,"Chennai, Bangalore/Bengaluru"
8,Sr Domain Expert -Data Analysts,Sr Domain Expert -Data Analysts,0-10 Yrs,Bangalore/Bengaluru
9,Associate Data Analyst,Associate Data Analyst,2-7 Yrs,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage. You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required.

In [283]:
driver= webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [284]:
driver.get("https://www.naukri.com/")

In [285]:
search_field_designation=driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [286]:
job_titles = []
job_location = []
company_name  = []
experience_required = []

In [287]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="1ba45613-5444-4297-a47a-df24285c9d1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="ecfd2101-e240-46ed-be15-1bc2677a3873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="43ba9711-93a4-4b3f-a213-196445c6b529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="e536ce36-00d1-4d63-866a-b32a7ca9f32a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="408d071b-0083-42ae-8107-d8eaf76afc92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="5e994fc9-5e0e-4f2f-b4cd-0152cc69c096")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="3fc930c8-709a-4914-9812-02554f0a4ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="ca1aa833-7902-4f83-97b0-b7947e6b699b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="941ab5f2-7831-4067-af77-1f2fcf2ea4d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="47557da3-0b20-4272-a0dc-774516adb461")>]

In [288]:
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Analyst',
 'Job opportunity For the position of Financial Data Analyst',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh',
 'Urgent opening For AM - Data Analyst Analytics role',
 'Hiring - Healthcare Data Analyst- US Healthcare- Night Shifts',
 'Data Analyst',
 'Amex is hiring For Analyst/ Sr. Analyst - Data Governance',
 'Jeevansathi.com is hiring For Product Operations - Data Analyst',
 'Sr . Data Analyst',
 'Data Analyst']

In [289]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="ca62ef37-922c-4a73-9491-267a601749af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="d3e3a032-3896-4e98-bed3-0119fab1bf1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="3c41361b-1887-431f-89e1-3b09a5cf5d93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="2ee58d5f-5864-44b8-8e63-41fb0bb9e394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="ad6f3d5c-bb15-4dea-b544-f9fb60855c06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="13f2a329-cfe6-46d2-b99b-d859d1960067")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="52f73a16-a733-481f-9db2-aa564f4943d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="1b0b0c53-d3ba-4fb5-b33d-91cb5cc9b580")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="3b65e53c-e671-442e-90e4-33ff5dd39386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="8ffd7ee9-3b38-4b94-a1ae-f720543704bd")>]

In [290]:
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'New Delhi, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [291]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="9dacff4d-78fb-4963-b1a3-e91f118b511e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="c75f5695-2556-43ad-b06b-e10439030ce2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="af94ebfe-9bdc-450a-bcb3-88e58bc82e26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="550b1b33-ba4b-4af2-a790-d3a35e4e9117")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="40a6ac8e-3277-4276-a6ea-87af275e5e8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="ed158ed0-d973-4277-acc5-8762b0e40380")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="5a56f023-e993-4563-9661-157ee95cf2bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="049aa693-0fdb-40e9-a6e6-c0b53bb60e43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="8e179a42-f193-4246-b293-5db4322cb883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="0e950722-1f20-4643-a913-86d873d640a9")>]

In [292]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['TOTAL MARKETING SUPPORT INDIA PRIVATE LIMITED',
 'NIRVANA SOLUTIONS INDIA PRIVATE LIMITED',
 'Rupeek',
 'Pramerica Life',
 'KOZENT TEC PRIVATE LIMITED',
 'West Wind Retail Pvt. Ltd.',
 'AMERICAN EXPRESS',
 'Info Edge India',
 'Also Energy',
 'Redian Software Pvt Ltd']

In [296]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="c611baf9-21f8-417f-b245-eed6a33c8bdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="18b312fe-5bfc-4e8f-bd47-ce8944251d37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="71ecf1ae-930b-4032-b72c-feac60b0c447")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="de48550a-9ff8-4793-921b-16432c2ce38d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="246d5204-4ce1-4026-9a72-5d7e79e7f06f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="98b2f97b-bb83-475c-b4ec-3d373ab6cc72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="b9a6978c-3460-4120-b3ba-7b2715b9cdd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="b7f93235-76a6-4c33-b450-6ac6c56de21e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="42618037-b05e-413d-816f-2879435a9303")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b85334b831a4e2e10b8ce8a520236aa5", element="2e4dc276-b3d0-4be6-b12b-be619b0c0084")>]

In [297]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['03 May',
 '0-5 Yrs',
 '2-7 Yrs',
 '4-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '3-5 Yrs']

In [298]:
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [299]:
job=pd.DataFrame({})
job['title']=job_titles
job['company']=company_name
job['experience']=experience_required
job['location']=job_location

In [300]:
job.head(10)

,title,company,experience,location
0,Data Analyst,TOTAL MARKETING SUPPORT INDIA PRIVATE LIMITED,03 May,Gurgaon/Gurugram
1,Job opportunity For the position of Financial ...,NIRVANA SOLUTIONS INDIA PRIVATE LIMITED,0-5 Yrs,Gurgaon/Gurugram
2,Hiring - Zonal Data Analyst (Off Role) - Opera...,Rupeek,2-7 Yrs,"New Delhi, Bangalore/Bengaluru"
3,Urgent opening For AM - Data Analyst Analytics...,Pramerica Life,4-6 Yrs,Gurgaon/Gurugram
4,Hiring - Healthcare Data Analyst- US Healthcar...,KOZENT TEC PRIVATE LIMITED,2-6 Yrs,Noida
5,Data Analyst,West Wind Retail Pvt. Ltd.,3-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
6,Amex is hiring For Analyst/ Sr. Analyst - Data...,AMERICAN EXPRESS,1-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
7,Jeevansathi.com is hiring For Product Operatio...,Info Edge India,1-3 Yrs,Noida
8,Sr . Data Analyst,Also Energy,3-6 Yrs,Gurgaon/Gurugram
9,Data Analyst,Redian Software Pvt Ltd,3-5 Yrs,Gurgaon/Gurugram

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [22]:
driver= webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [23]:
driver.get("https://www.flipkart.com/")

In [24]:
driver.find_element_by_xpath("//input[@title='Search for products, brands and more']").send_keys("sunglasses")

In [27]:
driver.find_element_by_xpath("//button[@type='submit']").click()